{# Masthead #}
{{ load(file='partials/masthead.html.twig', showCode=true, wrapInIframe=false) }}

{# Breadcrumbs #}
{{ load(file='partials/breadcrumbs.html.twig', showCode=true, wrapInIframe=false) }}

{# Title #}
<section class="container h -large-margin-bottom">
    <div class="row">
        <div class="col -large-7">
            <h1 class="title-1">Textpage-extended</h1>
        </div>
    </div>
</section>

{# Large Image #}
<section class="container h -extra-large-margin-bottom">
    <img src="http://placeholder.inventis.be/1313x632/eeeeee/000000/?text=1313x632" alt="Placeholder 1313x632"/>
</section>

{# CONTENT #}
<section class="container">
    {# Regular Text #}
    <div class="row">
        <article class="col -large-8">
            <div class="row">
                {# Text #}
                <div class="col -large-7-8 h -extra-large-margin-bottom">
                    <p class="-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
                    <figure class="figure -large">
                        <img src="http://placeholder.inventis.be/900x600/eeeeee/000000/?text=900x600" alt="Placeholder 900x600"/>
                        <div class="figure__caption">&copy; Inventis Webarchitects - A 900px by 600px placeholder</div>
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
                    <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
                    <figure class="figure -small -left">
                        <img src="http://placeholder.inventis.be/900x600/eeeeee/000000/?text=900x600" alt="Placeholder 900x600"/>
                        <div class="figure__caption">&copy; Inventis Webarchitects - A 900px by 600px placeholder</div>
                    </figure>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
                    <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
                    <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
                </div>
            </div>

            {# Image Gallery #}
            <div class="row h -extra-large-margin-bottom">
                {{ load(file='partials/image-gallery.html.twig', showCode=true, wrapInIframe=false) }}
            </div>

            {# Downloads #}
            <div class="col -large-7-8 h -extra-large-margin-bottom">
                {{ load(file='partials/downloads.html.twig', showCode=true, wrapInIframe=false) }}
            </div>
        </article>

        {# Aside #}
        <div class="col -large-4 -large-omega">
            {{ load(file='partials/aside.html.twig', showCode=true, wrapInIframe=false) }}
        </div>
    </div>
</section><!-- /.container -->

{# Footer #}
{{ load(file='partials/footer.html.twig', showCode=true, wrapInIframe=false) }}
